
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
 
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .clearfix {
    display: inline-block;
  }

  html[xmlns] .clearfix {
    display: block;
  }

  * html .clearfix {
    height: 1%;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  header, nav, section, article, aside, footer, hgroup {
    display: block;
  }

  * {
    box-sizing: border-box;
  }

  html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: #e75e8d;
    color: #fff;
  }

  .hidden{
    display: none;
  }

  .game-details{
    text-align: center;
    align-content: center;
    color: white;
  }


  .game-details > h1{
    font-size: 3.5rem;
  }

  .game-details > img{
    max-width: 100%;
    width: 50%;
    border-radius: 10%;
  }

  .game-details > p {
    margin: 0 auto;
    color: white;
    text-align:center;
    max-width: 50%;
  }

  .screenshot-img{
    width: 30%;
  }

  @media only screen and (max-width : 900px){

    .screenshot-img{
      width: 60%;
    }

  }


  @media only screen and (max-width : 625px){
    .game-details > h1{
      font-size: 3rem;
    }

    .game-details > img{
      width: 100%;
      border-radius: 0%;
    }

    .screenshot-img{
      width: 90%;
    }

    .game-details > p {
      max-width: 95%;
    }

  }

  @media only screen and (max-width : 469px){
    .game-details > h1{
      font-size: 2rem;
    }

    .game-details > img{
      width: 100%;
      border-radius: 0%;
    }

    .game-screenshots > img{
      width: 100%;
    }
  }




